/* -------------- Reset ------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--bg-clr);
  color: var(--fg-clr);
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
}

img {
  max-width: 100%;
  display: block;
}

em {
  font-style: inherit;
  font-weight: 700;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------------------------------Colors-------------------------------------------------------------- */
:root {
  --c-dark-blue: hsl(209, 23%, 22%);
  --c-dark-bg-blue: hsl(207, 26%, 17%);
  --c-light-blue: hsl(200, 15%, 8%);
  --c-light-gray: hsl(0, 0%, 52%);
  --c-light-bg-gray: hsl(0, 0%, 98%);
  --c-white: hsl(0, 0%, 100%);
}

html {
  --card-bg-clr: var(--c-white);
  --bg-clr: var(--c-light-bg-gray);
  --fg-clr: black;
  --shadow-clr: gray;
  --hovered: hsla(0, 0%, 83%, 0.455);
}

html.dark {
  --card-bg-clr: var(--c-dark-blue);
  --bg-clr: var(--c-dark-bg-blue);
  --fg-clr: var(--c-white);
  --shadow-clr: black;
}

/* -------------------------------------------------------Fonts--------------------------------------------------------------------- */
/* - Homepage Items: 14px
- Detail Page: 16px  
- Weights: 300, 600, 800 */

:root {
  font-size: 0.7rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

@media (min-width:35rem) {
  :root {
    font-size: 0.8rem;
  }
}


@media (min-width:65rem) {
  :root {
    font-size: 0.875rem;
  }
}

/* ---------Utility class------------------------ */
.shadow {
  box-shadow: 2px 2px 5px var(--shadow-clr);
}

.shadow:hover {
  background-color: hsla(0, 0%, 83%, 0.455);
}

/* --------------------------------------------------Header------------------------------------------------------------------- */
.header {
  width: 100%;
  padding: clamp(0.5em, 2vh + 1em, 1em) clamp(2em, 5vw + 1em, 5em);
  background-color: var(--card-bg-clr);
  color: var(--fg-clr);
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 0 10px var(--shadow-clr);
  position: relative;
  z-index: 100;
}

.header>h1 {
  font-weight: 800;
}

.theme {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.theme>:first-child {
  width: 2em;
  aspect-ratio: 1;
}

.sun_icon {
  fill: var(--c-white);
}

/* -----------------------------------------------------------Main-------------------------------------------------------------- */
.main {
  background-color: var(--bg-clr);
  padding: clamp(2em, 4vh + 1em, 4em) clamp(2em, 5vw + 1em, 5em);
}

.sort_section {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.search {
  position: relative;
}

.search_icon {
  fill: var(--fg-clr);
  width: 1em;
  position: absolute;
  left: 1.5em;
  top: calc(50% - .5em);
}

.inputCountry {
  border-radius: 8px;
  background-color: var(--card-bg-clr);
  padding: 1em 3.5em;
}

.search.active .inputCountry {
  padding-inline: 1.5em;
}

.inputCountry:focus {
  outline: 1px solid var(--shadow-clr);
}

.no_filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: inline-block;
  padding: 1em 1.5em;
  position: relative;
  background-color: var(--card-bg-clr);
  border-radius: 8px;
  cursor: pointer;
  width: 15rem;
}

.dropdown .filter_regions {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.filter_regions>svg {
  fill: var(--fg-clr);
  width: 1em;
}

.dropdown .regions {
  width: 100%;
  background-color: var(--card-bg-clr);
  border-radius: 8px;
  padding: 1em 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: calc(100% + 5px);
  left: 0;
  z-index: 10;
}

.regions>:first-child {
  border-bottom: 1px solid var(--fg-clr);
}

.dropdown .regions a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-block: .5em;
  padding-left: .5em;
}

.dropdown .regions a:hover {
  background-color: var(--hovered);
  border-radius: 8px;
}

.regions .shown {
  display: block;
}


/* ------------------------------------------------------------Card----------------------------------------------------------- */
.grid_card {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: clamp(1em, 3vw + 1em, 5em);
  justify-items: center;
  align-items: center;
}

@media (min-width:35rem) {
  .grid_card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:50rem) {
  .grid_card {
    grid-template-columns: repeat(3, 1fr);
  }

  .sort_section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width:65rem) {
  .grid_card {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-bg-clr);
  width: 250px;
  height: 350px;
  cursor: pointer;
}

.card>img {
  display: block;
  /* aspect-ratio: 250 / 125; */
  object-fit: contain;
  width: 100%;
  max-height: 50%;
  border-radius: 16px 16px 0 0;
}

.country_info {
  padding: clamp(1em, 1.5vw + .5em, 2.2em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
  flex-basis: 50%;
}

.country_name {
  font-weight: 800;
}

.country_info span {
  font-weight: 600;
}

/* -------------------------------------------------------------Details-page---------------------------------------------- */
.back_button {
  width: 7rem;
  padding: 1em 1.5em;
  gap: .5em;
  display: flex;
  align-items: center;
}

.back_button>svg {
  fill: var(--fg-clr);
  width: 2em;
}

.button {
  background-color: var(--card-bg-clr);
  border-radius: 8px;
  cursor: pointer;
}

.details_page {
  font-size: 0.8rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

@media (min-width:35rem) {
  .details_page {
    font-size: 0.92rem;
  }
}

@media (min-width:50rem) {
  .details_page {
    font-size: 1rem;
  }
}

.flag {
  flex-grow: 1;
  width: 45%;
}

.countryName {
  font-weight: 800;
  font-size: 2.7em;
  margin-bottom: 1rem;
}

.details_info {
  flex-grow: 1;
  flex-basis: 45%;
}

.details {
  display: flex;
  gap: clamp(5em, 20% + 1em, 17em);
  width: 100%;

  >.details-col {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.borders {
  margin-top: 5em;
}

.border_link {
  padding: .3em .5em;
  font-weight: 300;
  margin-left: .5em;
  margin-bottom: .5em;
  display: inline-block;
}